.container {
  padding: 10px;
}

/* ------------ different styles for a tag component -------------- */

.blue {
  border: 1px solid rgb(19, 132, 237);
  color: rgb(19, 132, 237);
}

.shadedBlue {
  background-color: rgb(213, 233, 253);
  color: rgb(19, 132, 237);
}

.pink {
  border: 1px solid rgb(121, 121, 121);
  color: rgb(207, 61, 181);
}

.red {
  border: 1px solid rgb(153, 13, 13);
  color: rgb(0, 0, 0);
}

.black {
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

.grey {
  border: 1px solid rgb(98, 98, 98);
  color: rgb(98, 98, 98);
}

.pinkShadedBlue {
  background-color: rgb(213, 233, 253);
  color: rgb(207, 61, 181);
}

/* ------------ base tag style -------------- */

.blue,
.shadedBlue,
.pink,
.red,
.black,
.grey,
.pinkShadedBlue {
  margin: 5px;
  padding: 0px 15px 3px;
  font-weight: 500;
  border-radius: 25px;
  text-align: center;
}
