@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body{
width:100%;
overflow-x:hidden;
}

:root {
  --pinkOrangeGradient: linear-gradient(89deg, #ce1982 0%, #ed493d 100%);
  --blackBoxShadow: 0px 0px 15px #00000029;
}
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

ol,
ul {
  list-style: none;
}
/* Layout Styling */
.container {
  margin: auto;
  display: grid;
  grid-template-columns: 2fr [main-start] minmax(300px, 1920px) [main-end] 1fr;
  justify-items: center;
  grid-gap: 0.5rem;
}
.content {
  grid-column: main-start/main-end;
  padding: 0 2rem;
}
/* Bg color for buttons */
.bg-pinkOrangeGradient {
  background: var(--pinkOrangeGradient);
}
.blackBoxShadow {
  box-shadow: var(--blackBoxShadow);
}
