/*needs more adjustments to style*/

/* Layout Styling */
.container {
  margin: auto;
  /*causing issues confirm to delete 
  display: grid; 
   2fr [main-start] minmax(300px, 1920px) [main-end] 1fr*/
  max-width: 1920px;
  min-width: 360px;
  justify-items: center;
  grid-gap: 0.5rem;
  font-family: 'Montserrat', sans-serif;
}
.content {
  grid-column: main-start/main-end;
  padding: 2rem;
}
