.miniProfileCard {
  height: 235px;
  width: 521px;
  padding: 28px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 20px;
}
.avatar {
  height: 180px;
  width: 160px;
}
.infoContainer {
  height: 180px;
}
.name {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #0d0d0d;
}
.locationJob {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.compatibility {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
