.container {
    padding: 10px;
    max-width: 700px;
    max-height: 200px;
    overflow: auto;

}

/* width */
.container::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
.container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.container::-webkit-scrollbar-thumb {
    background: #888;
    
}

/* Handle on hover */
.container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.black {
    border: 1px solid rgb(87, 87, 87);
    color: rgb(0, 0, 0);
    margin: 5px;
    padding: 2px 15px 5px;
    font-weight: 500;
    border-radius: 25px;
    display: inline-block;
}

.remove {
    margin-left: 5px;
    position: relative;
    bottom: 5px;
    left: 5px;
}